* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #4891ff;
    --light-color: #f4f4f6;
    --dark-color: #111;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #fff;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/*  Nav Bar  */
.nav-bar {
    background: #fff;
    padding: 20px;
}

.nav-bar .container {
    display:  flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar .main-menu ul {
    display:  flex;
}

.nav-bar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

.nav-bar ul li a:hover {
    color: var(--primary-color);
}

/*  Utility Classes  */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;

}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
    
}